@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
	line-height: 1.5;
	font-weight: 400;

	color-scheme: light dark;
	color: rgba(255, 255, 255, 0.87);

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

body {
	background-color: #242424;
	min-height: 100vh;
}

@media (prefers-color-scheme: light) {
	:root {
		color: #213547;
		background-color: #ffffff;
	}
}
.bg-windows {
	background-color: #323130;
}

.bg-aside {
	background-color: rgb(37, 37, 36);
}

.bg-aside.card {
	background-color: rgb(27, 27, 27);
}

.border-container {
	border-top-left-radius: 255px 15px;
	border-top-right-radius: 15px 225px;
	border-bottom-right-radius: 225px 15px;
	border-bottom-left-radius: 15px 255px;
}

.border-container:hover {
	box-shadow: 2px 8px 4px -6px hsla(0, 0%, 0%, 0.3);
}
.border-container.lined.thick {
	border: solid 3px;
}
.border-container.dotted.thick {
	border: dotted 3px;
}
.border-container.dashed.thick {
	border: dashed 3px;
}
.border-container.lined.thin {
	border: solid 2px;
}
.border-container.dotted.thin {
	border: dotted 2px;
}
.border-container.dashed.thin {
	border: dashed 2px;
}
